#root files
/local/tokens/
--exclude=backup
backup
.DS_Store
.git.*
*.pid
/*.jpg
/*.swf
/*.gif
/*.png
/google*.html
/mailru-verification*.html
/wmail_*.html
/yandex_*.html
/.idea
/web.config
/.well-known

# other files
#sitemap_*
Thumbs.db
*.csv
*.gz
*.bat
*.dat
*.pdf
*.psd
*.xml
*.sql
*.log
*.txt
*.flv
*.wmv
*.xls
*.tar
*.log.html
*.gz.*
.htaccess
.htsecure
/upload/
/upload


#local
/local/api_cache/
/local/quickcache/

#Start bitrix here
/bitrix/php_interface/dbconn.php
/bitrix/*
!/bitrix/components/
/bitrix/components/bitrix/*

!/bitrix/php_interface/


#А так можно заигнорить все модули, кроме какого-то одного (звездочка = обязательна в конце)
/bitrix/modules/*
!/bitrix/modules/thelpers/
!/bitrix/modules/catalogupload/
!/bitrix/modules/elementupload/
!/bitrix/modules/pull/
/local/list.ids.php
/local/cacheforce/
/local/custom_cache/
